.editing-form__input-line {
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.editing-form__input-line::placeholder {
  color: #C4C4C4;
}

.editing-form__input-line:last-of-type {
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .editing-form__input-line:last-of-type {
    margin-bottom: 45px;
  }
}