.edit-profile__input-line {
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  margin-bottom: 30px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.edit-profile__input-line:last-of-type {
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .edit-profile__input-line:last-of-type {
    margin-bottom: 45px;
  }
}